@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using GridMvc.Html
@using Nebulus.Models
@model IEnumerable<MessageItem>

<br />

@Html.Grid(Model).Columns(columns =>
{
    columns.Add(item => item.MessageTitle).Titled("Title").Filterable(true);
    columns.Add().RenderValueAs(o => Enum.Parse(typeof(MessagePriorityType), o.MessagePriority.ToString()).ToString()).Titled("Priority").Filterable(true);
    columns.Add(item => item.ScheduleStart.LocalDateTime).Titled("Start Time").Filterable(true);
    columns.Add(item => item.ScheduleInterval).Titled("Interval").Filterable(true);
    columns.Add(item => item.Expiration.LocalDateTime).Titled("Expiration").Filterable(true);
    columns.Add(item => item.SentTime.LocalDateTime).Titled("Sent").Filterable(true);
    columns.Add(item => item.Creator).Titled("Creator").Filterable(true);
    columns.Add().Encoded(false).Sanitized(false).RenderValueAs(o => @Html.ActionLink("Edit", "Edit", new { id = o.MessageItemId }, new { @class = "btn btn-default  btn-xs" }));
    columns.Add().Encoded(false).Sanitized(false).RenderValueAs(o => @Html.ActionLink("Delete", "Delete", new { id = o.MessageItemId }, new { @class = "btn btn-default  btn-xs" }));
    columns.Add().Encoded(false).Sanitized(false).RenderValueAs(o => @Html.ActionLink("Send Now", "Send", new { id = o.MessageItemId }, new { @class = "btn btn-default  btn-xs" }));
}).WithPaging(20)

<br />

<div id='calendar' style="width:100%"></div>

<br />

<div class="row">
    <p><a href="~/Message/Create" class="btn btn-primary btn-lg btn-block">Create Message &raquo;</a></p>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#calendar').fullCalendar({
            header: {
                left: 'prev, next, today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            eventSources: [{
                url: '/Message/CalandarEventsData/', data: {
                    startDate: function () {
                        return $('#calendar').fullCalendar('getDate').format("MM-01-YYYY");
                    }
                }
            }
            ],
            eventClick: function (calEvent, jsEvent, view) {
                window.location.href = '@Url.Content("~/Message/Edit/")' + calEvent.id;
            },
        })
    });
</script>











